<?xml version="1.0"?>
<model>
  <name>Shapes</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Broteen Das</name>
    <email>broteendas.official@gmail.com</email>
  </author>

  <description>
    2D Shapes for top-down identification.
  </description>
</model>
